<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <div id="profile-header">
            <img src="<%= profile.profilePicture %>" id="profile-pic">
            <p id="profile-username"><%= profile.username %></p>
        </div>

        <div id="profile-info">
            <p>Country: <span><%= profile.country %></span></p> 
            <p>Game genre: <span><%= profile.gameGenre %></span> </p>
            <a href="<%= profile.url %>">Steam account</a>
        </div>

        <div>
            <form method='POST' action="/removeUser">
                <input type="hidden" id="button" name="removeUser" value="<%= profile.username%>">
                <input type="submit" id="login-signup-submit" value="Remove user">
            </form>
        </div>


    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>