<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <img src="<%= profile.profilePicture %>"">
        <span><%= profile.username %></span>
        <br> 
        <span>Country <%= profile.country %></span>
        <br>
        <span>Game genre <%= profile.gameGenre %></span>

        
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>