<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <span><%= profile.username %></span>
        <br>
        <span><%= profile.steamID %></span>
        <br>
        <span><%= profile.country %></span>
        <br>

        <img src="<%= profile.profilePicture %>"">
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>